<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Tickets</title>
</head>
<body>
      <h1>🎤 รายการคอนเสิร์ต</h1>
    {% for concert in concerts %}
        <div style="border:1px solid #ccc; padding:10px; margin:10px;">
            <h3>{{ concert.name }}</h3>
            <p>ที่นั่งเหลือ: {{ concert.available_seats }} / {{ concert.total_seats }}</p>
        </div>
    {% endfor %}
</body>
</html>

